.thumbnail {
    width: 100%;
    border-radius: 15px;
}
.details-box {
    display: grid;
    grid-template-columns: 40px auto;
    gap: 15px;
}
.channel-box {
    /* border: 1px solid red; */
}
.channel {
    width: 100%;
    border-radius: 50%;
}

.details {
    /* border: 1px solid grey; */
}